streamlit==1.19.0
altair==4.2.2

# LangChain (stable combo)
langchain==0.3.17
langchain-core==0.3.33
langchain-community==0.3.17

# Embeddings & ML
sentence-transformers==2.6.1
faiss-cpu==1.7.4

# Utils
python-dotenv
torch==2.0.1
